{% extends 'base.html' %}

{% block title%}Create Task{% endblock title %}
{% block content%}
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ post_form.as_p }}
                <button>Create</button>
            </form>
{% endblock content %}
