{% extends 'base.html' %}
{% block title%}Create Project{% endblock title %}
{% block content%}
            <h1>My Tasks</h1>
            {% if task_list.all %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_list.all %}
                    <tr>
                        <td>{{task.name}}</td>
                        <td>{{task.start_date|date:"M d, Y P"}}</td>
                        <td>{{task.due_date|date:"M d, Y P"}}</td>
                        <td>{{task.is_completed|yesno:"yes, no"}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <p>You have no tasks</p>
                {% endif %}
                </tbody>
            </table>
{% endblock content %}
